body {
    background-color: #f3e5d8;}
#navegador {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #255538;
    padding: 10px;
    border-radius: 4px;
    color: white;
    height: 20px;
}


#fondo {
    background-image: url(../image/hero.jpg);
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 10px;
    padding: 100px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 5px;
 }

 #DatosPreparacion{
    background-color: rgb(244, 225, 229);
    border-radius: 8px;
    padding: 10px;
    margin-left: 8px;
    margin-right: 8px;
    display: block;

 }

section{
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}
.titulos{
   color: #7e4333; ;
    font-family: "DM Serif Display", serif;
    font-style: normal;  
    font-weight: 400;
}
p{
    margin: 0px;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
}
.instrucciones{
    list-style-type: decimal;
}
   