body {
  background-color: #f3e5d8;
  
}
#navegador {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #255538;
  padding: 10px;
  border-radius: 4px;
  color: white;
  
}
#explorar {
  display: flex;
}

button {
  height: 20px;
  border-radius: 10px;
}
#oscuro {
  background-color: white;
  color: #7e4333;
  width: 15px;
  height: 15px;
}

#fondo {
  background-image: url(../image/hero.jpg);
  display: flex;
  color: white;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding: 100px;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 5px;
  height: 250px;
}

#DatosPreparacion {
  background-color: rgb(244, 225, 229);
  border-radius: 8px;
  padding: 10px;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 8px;
}


.titulos {
  color: #7e4333;
  font-family: "DM Serif Display", serif;
  font-style: normal;
  font-weight: 400;
}
p {
  margin: 0px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}
.instrucciones {
  list-style-type: decimal;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #255538;
  padding: 10px;
  border-radius: 4px;
  color: white;
  height: 15px;
}
#aside {
  background-color: white;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  font-size: smaller;
}
table {
  list-style-type: none;
}
td {
  border-bottom: 1px solid #734333;
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}
#nutricion {
  text-align: end;
  flex-direction: row;
  align-items: end;
}
#recetas{
  display: flex;
}
.ImagenReceta{
  margin: 10px;
  width: 100px;
  height: 100px;
}
.TextoAside{
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
} 

h3{
  display: inline-flex;
  margin: 0px;
}
#page{
  display: grid;
  grid-template-columns:1fr,300px;
  grid-template-rows:100px,1fr,100px;
}
nav{
  grid-area: 1/1/1/3;
}
footer{
  grid-area: 3/1/3/3;
}
aside{
grid-area: 2/2/2/3;
max-width: 250px;
}
section {
  background-color: white;
  border-radius: 5px;
  margin-top: 15px;
  margin-left: 100px;
  margin-right: 10px;
  margin-bottom: 15px;
  padding: 20px;
  grid-area: 2/1/2/2;
  font-size:larger;
}
@media screen and (max-width:600px) {
  section{
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom:15px;
    
  }
  #page{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px,1fr,1fr,50px
  }
  aside{
    grid-area:3/1/3/2 ;
    max-width: 100%;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
  }
  footer{
    grid-area:4/1/4/2 ;
  }
  #aside{
    margin:0px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width:400px) {
  section{
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom:15px;
    
  }
  #page{
    font-size:small;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px,1fr,1fr,50px;
    
  }
  aside{
    grid-area:3/1/3/2 ;
    max-width: 100%;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
  }
  footer{
    grid-area:4/1/4/2 ;
  }
  #aside{
    margin:0px;
    margin-bottom: 10px;
  }

}